
@charset "utf-8";
/* CSS Document */
a,img,button,input,textarea,label,select,div,li{
	-webkit-tap-highlight-color:rgba(255,255,255,0); list-style: none;
}
body,h1,h2,h3,h4,h5,h6,p,form,button,dl,dd,dt,a,div,input {
	margin:0; padding:0; font-weight:normal; font-size:100%; font-family: "microsoft yahei";
}
img {border:0; width: 100%;}
ul,ol,dl,dd,dt {
	list-style:none; margin:0; padding:0;
}
a,img,button,input,textarea,select{
	outline:none; border: none;
}
a {
 	color: black; text-decoration:none;
}
a:hover {
	/*text-decoration:none; background:none;*/
}
input[type=button],input[type=search]{
	-webkit-appearance:none;
	outline:none
}
::-moz-placeholder {
	color: #636363;
}

::-webkit-input-placeholder {
	color: #636363;
}

::-ms-input-placeholder {
	color: #636363;
}

/*清除浮动*/
.clearfix:after{visibility: hidden; display: block; font-size: 0; content: " ";  clear: both; height: 0;}
.clearfix{*zoom:1;}
.clear{clear:both;}



body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000;
}
.index_box{
	width: 7.5rem;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/*loading start*/

.loading{
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
	background: url(../images/loadingbg.jpg) center center no-repeat;
	background-size: cover;
}
.loading_text{
	font-size: 0.45rem;
	padding-bottom:0.2rem;
	text-align: center;
}
.loadconter{
	position: absolute;
	width: 100%;
	height: 80px;
	top: 45%;
	left: 0;
	margin-top: -40px;
}

.carbox{
	width: 72%;
	transform: translate3d(0,0,0);
}
.carbox img{
	width: 92.5px;
	height: 37.5px;
	margin-top: 5px;
	vertical-align: middle;
}
.loadarticle{
	width: 90%;
	height: 4px;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #858686 20%,#b9babb 100%);
    background: linear-gradient(to bottom, #858686 20%,#b9babb 100%);
	border-radius: 5px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.loadarticle div{
	height: 4px;
	border-radius: 10px;
    background: -webkit-linear-gradient(top, #e41430 0%,#7f0914 100%);
    background: linear-gradient(to bottom, #e41430 0%,#7f0914 100%);
    position: absolute;
    top: 0;
    left: -100%
}
.loadingdeg{
	transform: translate3d(0,0,0);
}
.loadtext{
	font-size: 12px;
	color: #212121;
	text-align: center;
	margin-top: 13px;
}

.swiper-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*poster start*/
.posterbox{
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin: 0 auto;
	background: #151e2c;
	position: relative;
	display: none;
	overflow: hidden;
	background: url(../images/kv_banner.jpg) center center no-repeat;
	background-size: 100%;
}
.poster_logo{
	width: 5.82rem;
	height: 0.9rem;
	margin-top: 0.5rem;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation:tran3d .5s 1;
	position: relative;
	z-index: 8;
	-webkit-animation:tran3d .5s 1;
}
.poster_text{
	position: absolute;
	top: 1.1rem;
	left: 0;
	z-index: 7;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	animation:tran3d 1s 1;
	-webkit-animation:tran3d 1s 1;
}
.lunzi{
	width: 1.28rem;
	height: 1.28rem;
	left: 3.73rem;
	top: 0;
	position: absolute;
	/*transform: translate3d(500px,0,0);*/
	-webkit-animation:tran3ds 3.5s linear 1;
	animation:tran3ds 3.5s linear 1;
}
.lunzi2{
	-webkit-animation:tranlunzi 2s linear infinite;
	animation:tranlunzi 2s linear infinite;
}
.poster_text2{
	width: 3.69rem;
	height: 0.4rem;
	position: absolute;
	left: 0.4rem;
	opacity: 0.8;
	top: 2.5rem;
	animation-delay:3s;
	-webkit-animation-delay:3s;
	animation:tran3d 1.5s 1;
	-webkit-animation:tran3d 1.5s 1;
}


.textposter{
	width: 7.08rem;
	height: 3.2rem;
	top: 1.4rem;
	left: 0.2rem;
	position: absolute;
	/*background: url(../images/showguang.png) -0.3rem 94% no-repeat;*/
	/*background-size: 100%;*/
/*	-webkit-animation-delay:3s;
	animation-delay:3s;
	animation:trantext 3s 1;
	-webkit-animation:trantext 3s 1;*/
}
.textposterdeta{
	width: 4.1rem;
	height: 0.79rem;
	position: absolute;
	top: 5.4rem;
	left: 3.2rem;
	z-index: 7;
/*	animation:trantext 2s 1;
	-webkit-animation:trantext 2s 1;*/
}

.showyg{
	position: absolute;
	width: 5.72rem;
	height: 3.29rem;
	top: 1.9rem;
	left: 1.05rem;
	z-index: 8;
}


/*rx-conter start*/
.rx-livebox{
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin: 0 auto;
	background: url(../images/indexbg_02.jpg) #000 left top no-repeat;
	background-size: cover;
	overflow: hidden;
	display: none;
}
.votebox_logo{
	position: absolute;
	background:#fff;
	height: 1.24rem;
	bottom: 0;
	left: 0;
	text-align: right;
	width: 100%;
}
.votebox_logo img{
	width: 2.4rem;
	height: 0.77rem;
	padding-top: 0.23rem;
	padding-right: 0.2rem;
}
.rx-titlebox{
	height: 1.2rem;
	margin-top: 0.2rem;
	position: relative;
	display: none;
}
.rx-titleslogan{
	position: absolute;
	left: 0;
	width: 5.04rem;
	height: 1.2rem;
	top: 0;
	z-index: 7;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation:trantop 1s 1;
	-webkit-animation:trantop 1s 1;
}
.indexsloganlive{
	position: absolute;
	width: 1.72rem;
	height: 0.47rem;
	top: 0.13rem;
	left: 0;
}
.rx-titlepp{
	position: absolute;
	left: 0;
	top: 0.3rem;
	width: 4.23rem;
	height: 0.41rem;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	z-index: 7;
	animation:tranleft 1s 1;
	-webkit-animation:tranleft 1s 1;
}
.shootimg{
	position: absolute;
	right: 0;
	top: 0.08rem;
	width: 3.13rem;
	height: 1.15rem;
	font-size: 0.2rem;
	text-align: center;
	color: #d0c4b5;
	z-index: 6;
	animation-delay:3s;
	-webkit-animation-delay:3s;
	animation:tranright 1s 1;
	-webkit-animation:tranright 1s 1;
}
.shootimg span{
	line-height: 0.5rem;
	display: inline-block;
	text-indent: 0.4rem;
	animation-delay:4s;
	-webkit-animation-delay:4s;
	animation:tranopacity 1s 1;
	-webkit-animation:tranopacity 1s 1;
}
.livebox{
	margin-top: 0.4rem;
	margin-left: 0.2rem;
	overflow: hidden;
}

.livepaly{
	width: 7em;
	height: 3.93rem;
	position: absolute;
	top: 2.7rem;
	left:0.25rem;
}
.index_ct_slogan{
	width: 3.84rem;
	height: 2.04rem;
	position: absolute;
	top: 7rem;
	right: 0.2rem;
}
.index_btn_box{
	position: absolute;
	text-align: center;
	bottom: 1.5rem;
	left: 0;
	width: 100%;
}
.index_btn_box a{
	display: inline-block;
	width: 2.66rem;
	height: 0.6rem;
	line-height: 0.65rem;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 0.28rem;
}
.livepaly img{
	width: 7.0rem;
	height: 3.93rem;
}
.linklive{
	width: 80%;
	height: 80%;
	position: absolute;
	background: url(../images/livepaly.png) #000 center center no-repeat;
	background-size: 1rem;
	left: 10%;
	top: 10%;
	z-index: 6;
}
/*.livepaly video{
	width: 5.47rem;
	height: 4.03rem;
	margin-top: 0.15rem;
	margin-left: 0.15rem;
	background: #000;
}*/
.livelink{
	width: 5.65rem;
	height: 3.08rem;
	top: 0.17rem;
	left: 0.21rem;
	background: #000;
	border: none;
	position: absolute;
}
.livelist{
	margin-left: 0.05rem;
	width: 1.07rem;
	float: left;
}
.livelist li{
	width: 1.05rem;
	height: 0.6rem;
	margin-bottom: 0.01rem;
	border: 1px solid #a0a0a0;
	font-size: 0.2rem;
	text-align: center;
	padding-top: 0.04rem;
	color: #b6b3b3;
	line-height: 0.3rem;
	transform: scale(0.9);
}
.livelist li.pastvideo{
	border-color: #2ca1ee;
	color: #2ca1ee;
}
.livelist li.whilevideo{
	border-color: #e60012;
	color: #e60012;
}
.votebox{
	padding-top: 0.4rem;
}
.votetitle{
	height: 0.4rem;
	text-align: center;
	transform:translate3d(0,0,0);
}
.votetitle .titleimg{
	width: 3.24rem;
	height: 0.37rem;
	vertical-align: top;
	transform:translate3d(0,0,0);
}
.votetitle .jtimg{
	width: 0.28rem;
	height: 0.25rem;
	vertical-align: top;
	padding-top: 0.07rem;
	animation:infinleft 2s infinite;
	-webkit-animation:infinleft 2s infinite;
}
.votetitle .rgjtimg{
	width: 0.28rem;
	height: 0.25rem;
	margin-left: -0.05rem;
	vertical-align: top;
	padding-top: 0.07rem;
	transform: rotateY(180deg);
	animation:infinright 2s infinite;
	-webkit-animation:infinright 2s infinite;
}
.voteqabox{
	background: url(../images/voteqa.png) center center no-repeat;
	width: 6.88rem;
	height: 0.92rem;
	text-align: center;
	color: #fff;
	font-size: 0.33rem;
	line-height: 0.92rem;
	background-size: 100%;
	margin: 0.1rem auto;
	transform:translate3d(0,0,0);
}
.selectvotebox{
	margin-top: 0.3rem;
	position: relative;
	overflow: hidden;
}
.selectleft, .selectright{
	width: 45%;
	float: left;
	text-align: center;
}
.selectright{
	margin-left: 10%;
}
.selectleft li, .selectright li{
	color: #3f9ad6;
	font-size: 0.3rem;
	height: 0.4rem;
	line-height: 0.4rem;
}
.selectleft li:nth-child(3), .selectright li:nth-child(3){
	height: 0.7rem;
	margin-top: 0.05rem;
}
.selectleft li:nth-child(4), .selectright li:nth-child(4){
	margin-top: 0.2rem;
	padding-bottom: 0.2rem;
	background: url(../images/selectltbt.png) 0.3rem bottom no-repeat;
	background-size: 0.37rem 0.35rem;
}
.selectright li:nth-child(4){
	background: url(../images/selectrgbt.png) 2.7rem bottom no-repeat;
		background-size: 0.37rem 0.35rem;
}
.selectleft li a, .selectright li a{
	color: #3f9ad6;
	border: 1px solid #0b1d35;
	width: 2.72rem;
	height: 0.62rem;
	line-height: 0.62rem;
	display: inline-block;
	background: url(../images/selectbtn.png) center center no-repeat;
	background-size: 100%;
}
.selectlogopk{
	position: absolute;
	border-left: 1px solid #1a283a;
	left: 50%;
	top: 0;
	height: 100%;
}
.selectpk{
	position: absolute;
	width: 1.02rem;
	height: 0.9rem;
	top: 50%;
	left: 50%;
	margin-left: -0.51rem;
	margin-top: -0.45rem;
	z-index: 10;
}
.selectpkbg{
	position: absolute;
	width: 1.02rem;
	height: 0.9rem;
	top: 50%;
	height: 50%;
	margin-left: -0.51rem;
	margin-top: -0.53rem;
	z-index: 9;
	animation:hxdtran 4s infinite;
	-webkit-animation:hxdtran 4s infinite;
}
.votepopbox{
	width: 100%;
	height: 100%;
	max-width: 750px;
	background: rgba(0,0,0,.6);
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	display: none;
}
.votepopcenter{
	width: 5.7rem;
	height: 6.3rem;
	border: 1px solid #1d77bd;
	box-sizing: border-box;
	background: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2.85rem;
	margin-top: -3.15rem;
}
.votepopclose{
	width: 0.35rem;
	height: 0.35rem;
	position: absolute;
	top: -0.55rem;
	right: 0;
	background: url(../images/votepopclose.png) center center no-repeat;
	background-size: 100%;
}
.votepoptitle{
	font-size: 0.36rem;
	color: #2c91e1;
	margin-top: 0.36rem;
	margin-left: 0.4rem;
}
.votepopms{
	font-size: 0.24rem;
	color: #fff;
	margin-top: 0.33rem;
	margin-left: 0.4rem;
	line-height: 0.34rem;
}
.votepopcenter .reservelist{
	padding-top: 0.4rem;
}
.votepopcenter .reservelist ul{
	margin: 0 0.4rem;
}
.votepopcenter .reservelist li{
	width: 4.8rem;
}
.votepopcenter .reservelist li .reservesubmit{
	width: 2.7rem;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.24rem;
}
.votepopcenter .reservelist li:last-child{
	padding-top: 0.3rem;
}
.tabnext{
	position: absolute;
	bottom: 0.1rem;
	color: #999898;
	font-size: 0.2rem;
	text-align: center;
	padding-top: 0.6rem;
	width: 100%;
}
.tabnext img{
	width: 0.22rem;
	height: 0.18rem;
	position: absolute;
	top: 0.26rem;
	left: 50%;
	margin-left: -0.11rem;
	animation:mymove 1.5s infinite;
	-webkit-animation:mymove 1.5s infinite;
}

/*car start*/
.carausbox{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	position: absolute;
	top: 0;
	left:0;
	display: none;
	transition: .5s;
	transform: translate3d(100%,0,0);
}

.slideBox {
	position: relative;
	height: 100%;
	z-index: 1;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
	height: 100%;
	z-index: 2;
}

.slideBox .bd li {
	position: relative;
	z-index: 2;
}
.slideBox .bd li a{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6.5rem;
	height: 10.65rem;
	margin-left: -3.25rem;
	margin-top: -5.325rem;
	z-index: 2;
}
.slideBox .bd li img {
	width: 6.5rem;
	height: 10.65rem;
	vertical-align: middle;
}
.close_btn_tab{
	width: 0.58rem;
	height: 0.58rem;
	position: absolute;
	top:0.2rem;
	right:0.8rem;
	z-index: 999;
	transform: translate3d(0,0,0);
}

.slideBox .hd {
	position: absolute;
	height: 28px;
	line-height: 28px;
	bottom: 0.8rem;
	right: 0;
	z-index: 999; 
	text-align: center;
	width: 100%;
	transform: translate3d(0,0,0);
}
.slideBox .hd li {
	display: inline-block;
	width: 0.25rem;
	height: 0.25rem;
	background: #fff;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
	border-radius: 50%;
	transform: translate3d(0,0,0);
}

.slideBox .hd li.on {
	background: #fed700;
	transform: translate3d(0,0,0);
}

/*reserve start*/
.reservebox{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../images/formsubbg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	left: 0;
	top: 0;
	display: none;
	transition: .5s;
	transform: translate3d(100%,0,0);
}
.index_logo_top{
	width: 4.6rem;
	height: 0.84rem;
	position: absolute;
	top: 0.5rem;
	left: 0;
}
.index_logo_top img{
	width: 100%;
}
.index_renshu{
	font-size: 0.2rem;
	position: absolute;
	right: 0.5rem;
	border-right:3px solid #e60021;
	padding: 0.02rem 0;
	top: 0.8rem;
	padding-right: 0.2rem;
}
.index_logo_mx5{
	width: 3.31rem;
	height: 0.75rem;
	position: absolute;
	left: 0.3rem;
	top: 1.6rem;
}
.index_slogan_r{
	width: 3.03rem;
	height: 0.75rem;
	position: absolute;
	top: 1.6rem;
	right: 0.8rem;
}
.reservetitle{
	width: 5.55rem;
	height: 0.95rem;
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.5rem;
}
.reservelist {
	padding-top: 0.8rem;
	float: left;
}
.reservelist ul{
	margin: 0 1.07rem;
}
.reservelist li{
	width: 5.4rem;
	height: 0.8rem;
	box-sizing:border-box;
	margin-bottom: 0.2rem;
}
.reservelist li .input_text{
	background: -webkit-linear-gradient(top, #cdd0d5 0%,#f0f0f0 100%);
    background: linear-gradient(to bottom, #cdd0d5 0%,#f0f0f0 100%);
    border:1px solid #9c9b9b;
	font-size: 0.3rem;
	color: #636363;
	float: left;
	width: 100%;
	line-height: 0.8rem;
	padding-left: 0.3rem;
	box-sizing:border-box;
	position: relative;
}
.reservelist li .LoginName{
	width: 60%;
}
.form_text_tile{
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.8rem;
}
.reservelist li .reg_select
{
	background: none;
	font-size: 0.3rem;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0.8rem;
	line-height: 0.8rem;  
}
.reservelist li .sex_select_box{
	width: 35%;
	float: right;
}
.reservelist li .province_select_box{
	width: 35%;
}
.reservelist li .city_select_box{
	width: 60%;
	float: right;
}
.sex_select_box:after, .province_select_box:after, .city_select_box:after, .pin_select:after{
	content: "";
	width: 0;
   height: 0;
   position: absolute;
   top: 0.35rem;
   right: 0.15rem;
   border-left: 0.15rem solid transparent;
   border-right: 0.15rem solid transparent;
   border-top: 0.2rem solid #767676;
}
.reservelist li:last-child{
	text-align: center;
}
.reser_top{
	padding-top: 0.4rem;
	font-size: 0.3rem;
	margin: 0 1.07rem;
}
.back_btn{
	text-align: right;
	margin-right: -0.5rem;
}
.reser_top img{
	padding-top: 0.8rem;
	width: 5.4rem;
	height: 1.01rem;
}
.reservesubmit{
	width: 2.8rem;
	height: 0.8rem;
	color: #fff;
	background: #b00c24;
	border-radius: 10px;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.36rem;
	display: inline-block;
}
.reservebot img{
	transform: rotate3d(0,180deg,0);
	animation:mymovetwo 1.5s infinite;
	-webkit-animation:mymovetwo 1.5s infinite;
}
.left_translate{
	transition: .6s;
	transform: translate3d(0%,0,0);
}
.hdgz_btn{
	font-size: 0.3rem;
	text-decoration: underline;
	color: #3f9ad6;
	padding-top: 0.6rem;
	text-align: center;
	transform:translate3d(0,0,0);
}

.hdgz_popbox{
	width: 100%;
	height: 100%;
	max-width: 750px;
	background: rgba(0,0,0,.6);
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	display: none;
}
.hdgz_popcenter{
	width: 6.4rem;
	height: 9rem;
	border: 1px solid #1d77bd;
	box-sizing: border-box;
	background: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -3.2rem;
	margin-top: -4.5rem;
}
.hdgz_popclose{
	width: 0.35rem;
	height: 0.35rem;
	position: absolute;
	top: -0.55rem;
	right: 0;
	background: url(../images/votepopclose.png) center center no-repeat;
	background-size: 100%;
}
.hdgz_poptitle{
	font-size: 0.36rem;
	color: #2c91e1;
	margin-top: 0.36rem;
	margin-left: 0.4rem;
}
.hdgz_popms{
	font-size: 0.2rem;
	color: #fff;
	margin-top: 0.33rem;
	margin-left: 0.4rem;
	width: 90%;
	line-height: 0.34rem;
}
