body html {
  width: 100%;
  height: 100%;
}
body {
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover
}
#box {
  width: 100%;
  overflow: hidden
}
#box ul li {
  width: 100%;
  height: auto;
  background: url('../img/bg.jpg') no-repeat left top;
  background-size: 100%;
  display: inline-block;
  text-align: center;
}
#box ul li img, .home img {
  border: none;
  width: 100%;
  vertical-align: top;
}
.line {
  background: url('../img/guang_02.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1.25rem;
}
#box ul li .content {
  padding: .15rem .25rem;
}
#box ul li .content h5, #box ul li .content p {
  font-size: .3rem;
  color: #f5f4f4;
  font-weight: normal;
  line-height: .5rem;
  text-align: left
}
#box ul li .content h2 {
  font-size: .6rem;
  /*line-height: 1rem;*/
  padding: 0.25rem 0;
  color: #cfa972;
  font-weight: normal;
  text-align: left;
  /*white-space:nowrap;
  overflow:hidden;
  word-break: normal*/
}
#box ul li .content h2 span {
 font-size: .3rem; 
}
<<<<<<< HEAD

=======
.pull {
    position: fixed;
    width: .6rem;
    height: .2rem;
    bottom: .5rem;
    left: 50%;
    margin-left: -.3rem;
  }
  .pull img { width: 100% }
>>>>>>> 7b65b20d70c9aed18e5892d6c9a5a306aaf40759
.fixed {
  /*background: #000 url('../img/bg1.jpg') no-repeat;*/
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  bottom: 0
}
#share { padding-top: 1.5rem; padding-bottom:0.5rem; }
.fixed .top { text-align: center; padding: 1.5rem 2.5rem; }
.fixed .top img, .fixed .bottom img { width: 100% }
.fixed .bottom { position: absolute; bottom: 0; opacity: .5;text-align: center; width: 100% }